<div class="first-page w-100">
  <div class="row">
    <div class="col-md-4 col-sm-12 imageBox remove">
    </div>
    <div class="col-md-4 col-sm-12 imageBox" *ngIf="image">
      <ngx-spinner
        bdColor="#fff"
        size="medium"
        color="#116466"
        type="ball-scale-multiple"
      >
      </ngx-spinner>
      <div class="image">
        <img class="img"
           src="{{image.google_drive_link}}">
        <div class="nextImage">
          <i class="fa fa-angle-right next-angle" aria-hidden="true" (click)="goToNextImage(image)"></i>
        </div>
        <div class="previousImage">
          <i class="fa fa-angle-left previous-angle" aria-hidden="true" (click)="goToPreviousImage(image)"></i>
        </div>
      </div>
      <!--src="http://127.0.0.1:8000/{{image.path}}">-->
      <!--<div class="w-100 text-center like">-->
        <!--&lt;!&ndash;<i class="fa fa-thumbs-up" aria-hidden="true"></i>&ndash;&gt;-->
        <!--<i class="fa fa-heart" aria-hidden="true"></i>-->
      <!--</div>-->
      <div class="w-100 description">
        <p class="paragraphTag">{{image.description}}</p>
      </div>
      <div class="w-100 mt-1" *ngIf="!image.comment">
        <p class="paragraphTag">Comments are not allowed!</p>
      </div>
      <div class="w-100 mt-1" *ngIf="image.comment">
        <div class="mb-1" *ngFor="let comment of image.comments">
          {{comment.user.user_name}}: {{comment.content}}
        </div>
        <div class="pl-1 pr-1 newComment">
          <!--<p>{{commentLength}}/128</p>-->
          <textarea type="text" [(ngModel)]="comment" maxlength="128" placeholder="Type a comment..."
                    (ngModelChange)="calculateCommentLength()">
          </textarea>
        </div>
        <div class="w-100 text-right mt-1">
          <p *ngIf="errorMessage" class="text-center w-100">{{errorMessage}}</p>
          <button type="button" mat-raised-button color="primary" class="btn-block addComment pl-1 pr-1"
                  (click)="addComment()">Add comment
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 imageBox remove">
    </div>
  </div>
</div>
<div class="footer pl-1 pr-1">
  <div class="w-100 text-center">
    <p class="paragraphTag">Designed & developed by me! :)</p>
  </div>
  <div class="w-100 text-center">
    <p class="paragraphTag">Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2020 </p>
  </div>
  <div class="w-100 text-center socialMediaIcons">
    <a href="https://www.instagram.com/yoda.bikarbona/" target="_blank" class="mr-1"><i
      class="fab fa-instagram instagramIcon"></i></a> <a href="https://www.linkedin.com/in/mihael-peri%C4%87-311317140/"
                                                         target="_blank"><i
    class="fab fa-linkedin linkedinIcon"></i></a>
  </div>
</div>

