<div class="first-page w-100">
  <div class="row">
    <div class="col-md-4 col-sm-12 imageBox remove">
    </div>
    <div class="col-md-4 col-sm-12 imageBox" *ngIf="image">
      <img class="img"
           src="{{image.google_drive_link}}">
           <!--src="http://127.0.0.1:8000/{{image.path}}">-->
      <div class="w-100 text-center like">
        <!--<i class="fa fa-thumbs-up" aria-hidden="true"></i>-->
        <i class="fa fa-heart" aria-hidden="true"></i>
      </div>
      <div class="w-100 description">
        <p class="pl-1 pr-1">{{image.description}}</p>
      </div>
      <div class="w-100 mt-1" *ngIf="!image.comment">
        Onemogućeni komentari!
      </div>
      <div class="w-100 mt-1" *ngIf="image.comment">
        <div class="mb-1" *ngFor="let comment of image.comments">
          {{comment.user.user_name}}: {{comment.content}}
        </div>
        <div class="pl-1 pr-1 newComment">
          <!--<p>{{commentLength}}/128</p>-->
          <textarea type="text" [(ngModel)]="comment" maxlength="128" placeholder="Type a comment..."
                    (ngModelChange)="calculateCommentLength()">
          </textarea>
        </div>
        <div class="w-100 text-right mt-1">
          <p *ngIf="errorMessage" class="text-center w-100">{{errorMessage}}</p>
          <button type="button" mat-raised-button color="primary" class="btn-block addComment pl-1 pr-1"
                  (click)="addComment()">Add comment
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 imageBox remove">
    </div>
  </div>
</div>
<div class="footer pl-1 pr-1">

</div>

