<!--<div class="first-page w-100">-->
  <!--<div class="register-form p-1">-->
    <!--<form (submit)="registration(username, email, password)">-->
      <!--<h3 class="mb-3">Registration</h3>-->
      <!--<mat-form-field class="w-100 mb-1">-->
        <!--<label>Username *</label>-->
        <!--<input type="text" matInput required name="username" [(ngModel)]="username">-->
      <!--</mat-form-field>-->
      <!--<mat-form-field class="w-100 mb-1">-->
        <!--<label>Email *</label>-->
        <!--<input type="email" matInput required name="email" [(ngModel)]="email">-->
      <!--</mat-form-field>-->
      <!--<mat-form-field class="w-100 mb-1">-->
        <!--<label>Password *</label>-->
        <!--<input [type]="showPassword == true ? 'text': 'password'" matInput required name="password"-->
               <!--[(ngModel)]="password">-->
      <!--</mat-form-field>-->
      <!--<div class="text-center">-->
        <!--<button type="submit" [disabled]="email && password ? false: true" mat-raised-button color="primary"-->
                <!--class="btn-block sign-up">Sign up-->
        <!--</button>-->
      <!--</div>-->
      <!--<div class="text-center mt-1">-->
        <!--<button type="submit" mat-raised-button color="primary"-->
                <!--class="btn-block back-to-login mt-1" (click)="backToLogin()">Back to login.-->
        <!--</button>-->
      <!--</div>-->
    <!--</form>-->
  <!--</div>-->
<!--</div>-->
