<!--<div class="first-page w-100">-->
  <!--<div class="login-form p-1">-->
    <!--<form (submit)="activation(code)">-->
      <!--<h3 class="mb-3">Activation</h3>-->
      <!--<mat-form-field class="w-100 mb-1">-->
        <!--<label>Activation code *</label>-->
        <!--<input type="text" matInput required name="code" [(ngModel)]="code">-->
      <!--</mat-form-field>-->
      <!--<div class="text-center">-->
        <!--<button type="submit" [disabled]="email && password ? false: true" mat-raised-button color="primary"-->
                <!--class="btn-block activate-account">Activate-->
        <!--</button>-->
      <!--</div>-->
      <!--<div class="text-center mt-1">-->
        <!--<p class="m-2 no-account">You didn't get activation code?</p>-->
        <!--<button type="submit" mat-raised-button color="primary"-->
                <!--class="btn-block resend-activation-code mt-1" (click)="backToLogin()">Resend activation code.-->
        <!--</button>-->
      <!--</div>-->
    <!--</form>-->
  <!--</div>-->
<!--</div>-->
