<div class="first-page w-100">
  <div class="row">
    <div class="col-md-2 col-sm-4 col-xs-4 imageBox" *ngFor="let image of gallery">
      <img class="img"
           src="{{image.google_drive_link}}"
           (click)="goToImage(image)">
      <!--src="http://127.0.0.1:8000/media/{{image.file_name}}">-->
      <!--<img class="img"-->
           <!--src="https://images.pexels.com/photos/754082/pexels-photo-754082.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"-->
           <!--alt="Italian Trulli" (click)="goToImage()">-->
    </div>
    <!--<div class="col-md-2 col-sm-4 col-xs-4 imageBox">-->
      <!--<img class="img"-->
           <!--src="https://images.pexels.com/photos/754082/pexels-photo-754082.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"-->
           <!--alt="Italian Trulli">-->
    <!--</div>-->
    <!--<div class="col-md-2 col-sm-4 col-xs-4 imageBox">-->
      <!--<img class="img"-->
           <!--src="https://images.pexels.com/photos/754082/pexels-photo-754082.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"-->
           <!--alt="Italian Trulli">-->
    <!--</div>-->
    <!--<div class="col-md-2 col-sm-4 col-xs-4 imageBox">-->
      <!--<img class="img"-->
           <!--src="https://images.pexels.com/photos/754082/pexels-photo-754082.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"-->
           <!--alt="Italian Trulli">-->
    <!--</div>-->
    <!--<div class="col-md-2 col-sm-4 col-xs-4 imageBox">-->
      <!--<img class="img"-->
           <!--src="https://images.pexels.com/photos/754082/pexels-photo-754082.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"-->
           <!--alt="Italian Trulli">-->
    <!--</div>-->
    <!--<div class="col-md-2 col-sm-4 col-xs-4 imageBox">-->
      <!--<img class="img"-->
           <!--src="https://images.pexels.com/photos/754082/pexels-photo-754082.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"-->
           <!--alt="Italian Trulli">-->
    <!--</div>-->
    <!--<div class="col-md-2 col-sm-4 col-xs-4 imageBox">-->
      <!--<img class="img"-->
           <!--src="https://images.pexels.com/photos/754082/pexels-photo-754082.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"-->
           <!--alt="Italian Trulli">-->
    <!--</div>-->
    <!--<div class="col-md-2 col-sm-4 col-xs-4 imageBox">-->
      <!--<img class="img"-->
           <!--src="https://images.pexels.com/photos/754082/pexels-photo-754082.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"-->
           <!--alt="Italian Trulli">-->
    <!--</div>-->
    <!--<div class="col-md-2 col-sm-4 col-xs-4 imageBox">-->
      <!--<img class="img"-->
           <!--src="https://images.pexels.com/photos/754082/pexels-photo-754082.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"-->
           <!--alt="Italian Trulli">-->
    <!--</div>-->
    <!--<div class="col-md-2 col-sm-4 col-xs-4 imageBox">-->
      <!--<img class="img"-->
           <!--src="https://images.pexels.com/photos/754082/pexels-photo-754082.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"-->
           <!--alt="Italian Trulli">-->
    <!--</div>-->
    <!--<div class="col-md-2 col-sm-4 col-xs-4 imageBox">-->
      <!--<img class="img"-->
           <!--src="https://images.pexels.com/photos/754082/pexels-photo-754082.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"-->
           <!--alt="Italian Trulli">-->
    <!--</div>-->
    <!--<div class="col-md-2 col-sm-4 col-xs-4 imageBox">-->
      <!--<img class="img"-->
           <!--src="https://images.pexels.com/photos/754082/pexels-photo-754082.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"-->
           <!--alt="Italian Trulli">-->
    <!--</div>-->
  </div>
  <div class="row" *ngIf="role">
    <div class="w-100 text-right mt-1">
      <button type="button" mat-raised-button color="primary" class="btn-block newImage pl-1 pr-1" (click)="newImage()">Add image</button>
    </div>
  </div>
</div>
<div class="footer pl-1 pr-1">
</div>
