@import "~src/app/home/home.component";

.first-page {
  background-color: #ececec;
  z-index: 1;
  height: unset;
  min-height: 100%;
  &:before {
    display: none;
  }
}

.row {
  //padding-top: 20%;
  padding-left: 5%;
  padding-right: 5%;
  @media (min-width: 900px) {
    //padding-top: 5%;
  }
}

.imageBox {
  height: auto;
  padding: 5px;
  padding-bottom: 1px;

  @media (min-width: 900px) {
    padding: 10px;
    padding-bottom: 6px;
    //min-height: 200px;
    max-height: 200px;
  }
  @media (max-width: 899px) {
    //min-height: 100px;
    //max-height: 100px;
    padding: 2px;
    margin-bottom: -4px;
  }
  //border: 1px solid black;
  .img {
    height: auto;
  }
}

.img {
  margin: auto;
  //height: 100%;
  //height: auto;
  width: 100%;
  box-shadow: 0px 10px 20px rgba(128,128,128,0.5);
  @media (min-width: 900px) {
    filter: grayscale(100%);
    transition: filter 500ms ease;
  }
  @media (max-width: 899px) {
    width: 100%;
  }
  &:hover {
    @media (min-width: 900px) {
      filter: grayscale(0);
      transform: scale(1.1);
      transition: filter 500ms ease, transform 500ms ease;
    }


  }
}

.newImage {
  width: 100px;
  bottom: 5px;
  font-size: 10px;
  text-align: center;
  outline: none;
  background-color: white;
  border: 1px solid #116466;
  color: #2C3531;
  border-radius: 0;
  &:hover {
    //background-color: #2C3531;
    background-color: #116466;
    color: white;
    transition: background-color 500ms ease, color 500ms ease;
  }
  @media (max-width: 767px) {
    background-color: #116466;
    color: white;
    width: 100%;
  }
}

.imageRow {
  padding-left: 0;
  padding-right: 0;
}

.imageRowContainer {
  padding-top: 70px;
  //height: 100vh;
  @media (max-width: 899px) {
    //overflow-y: scroll;
  }
}

.albums {
  margin-top: 20px;
  font-size: 0.875rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.14em;
  color: #767676;
}

.albumName {
  color: #767676;
  font-size: 0.6875rem;
  font-weight: 800;
  letter-spacing: 0.1818em;
  text-transform: uppercase;
}

div.albumChoice > label > input {
  visibility: hidden;
}

div.albumChoice > label {
  display: block;
  margin: 0 0 0 -10px;
  padding: 0 0 20px 0;
  height: 20px;
  width: 100%;
  font-size: 12px;
  font-weight: 100;
  color: #116466;
}

div.albumChoice > label > img {
  display: inline-block;
  padding: 0px;
  height: 20px;
  width: 20px;
  background: none;
  border: 1px solid #116466;
  margin-bottom: -5px;
  @media (min-width: 900px) {
    &:hover {
      background-color: #11646673;
    }
  }
}

div.albumChoice > label > input:checked + img {
  background-color: #116466;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;
  border: 1px solid white;
  margin-bottom: -5px;
}

div.albumChoice > p {
  display: inline-block;
}

.clear-filters {
  width: 70px;
  right: 0px;
  bottom: 5px;
  font-size: 10px;
  text-align: center;
  outline: none;
  background-color: #ececec;
  border: 1px solid #116466;
  color: #2C3531;
  border-radius: 50px;
  box-shadow: 0px 10px 20px rgba(128,128,128,0.5);
  letter-spacing: 1px;
	text-transform: uppercase;
  &:hover {
    @media (min-width: 900px) {
      background-color: #116466;
      color: white;
      transition: background-color 500ms ease, color 500ms ease;
    }

  }
  @media (max-width: 767px) {
    width: 100%;
  }
}

.albumChoice {
  //@media (max-width: 899px) {
  //  max-height: 120px;
  //  overflow-y: scroll;
  //}
}

.imageBoxContainer {
  max-height: unset;
  //height: 100vh;
  //overflow-y: scroll;
  @media (max-width: 899px) {
    //overflow-y:hidden;
  }
}

div.imageBoxContainer::-webkit-scrollbar {
    width: 3px;
    height: 200px;
  }

div.imageBoxContainer::-webkit-scrollbar-button {
    background: #888888;
  }
div.imageBoxContainer::-webkit-scrollbar-track-piece {
    background: #cccccc;
  }
div.imageBoxContainer::-webkit-scrollbar-thumb {
    background: #116466;
  }

.hidden {
  @media (max-width: 899px) {
    display: none;
  }
}

.desktopHiddenAlbum {
  @media (min-width: 900px) {
    display: none;
  }
}

.imagesPagination {
  i {
    background-color: #ececec;
    //border: 1px solid #116466;
    color: #116466;
    border-radius: 0;
    &:hover {
      //background-color: #2C3531;
      //background-color: #116466;
      //color: white;
      //transition: background-color 500ms ease, color 500ms ease;
      @media (min-width: 900px) {
        transform: scale(1.2);
        transition: scale 500ms ease;
      }
    }
    &:before {
      font-size: 35px;
    }
    @media (max-width: 767px) {
      //background-color: #116466;
      //color: white;
    }
  }
}

.page {
  margin-top: 12px;
  color: #767676;
  font-size: 0.6875rem;
  font-weight: 500;
  letter-spacing: 0.1818em;
  text-transform: uppercase;
}

.disabled {
  i {
    //background-color: silver;
    //color: black;
    color: silver;
    &:hover {
      //background-color: silver;
      //color: black;
    }
  }
}

.albumButton, .albumButton-active {
  width: auto;
  font-size: 10px;
  text-align: center;
  outline: none;
  background-color: #ececec;
  border: 1px solid #116466;
  color: #2C3531;
  border-radius: 50px;
  box-shadow: 0px 10px 20px rgba(128,128,128,0.5);
  letter-spacing: 1px;
	//text-transform: uppercase;
  margin: 3px;
  padding: 10px;
  & .active {
    background: #116466;
    color: white;
  }
}

.albumButton-active {
  background: #116466;
  color: white;
}
