<div class="first-page w-100">
  <div class="row imageRowContainer">
    <div class="col-md-4 col-sm-12 col-xs-12 hidden">
      <div *ngIf="albums" class="hidden">
        <div class="w-100 text-right mb-1">
          <h3 class="mr-1 albums">Albums</h3>
        </div>
        <div class="w-100 text-right albumChoice albumsContainer">
          <label *ngFor="let album of albums">
            <input type="radio" name="foo" value="0" [checked]="albumId !== 0"/>
            {{album.name}}
            <img (click)="albumChoice(album.id)"/>
          </label>
        </div>
        <div class="w-100 text-right">
          <button type="button" mat-raised-button color="primary" class="btn-block clear-filters"
                  (click)="albumChoice(0)">Clear
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12 imageBox imageBoxContainer">
      <ngx-spinner
        bdColor="#ececec"
        size="medium"
        color="#116466"
        type="ball-scale-multiple"
      >
        <p style="font-size: 20px; color: #116466">Loading...</p>
      </ngx-spinner>
      <div class="row w-100 imageRow mb-1">
        <div class="col-md-4 col-sm-4 col-xs-4 imageBox" *ngFor="let image of gallery">
          <img class="img"
               src="{{image.google_drive_link}}" (click)="goToImage(image)">
          <!--<img class="img"-->
          <!--src="{{image.google_drive_link}}"-->
          <!--(click)="goToImage(image)">-->
        </div>
        <div class="mt-2 w-100" *ngIf="showPagination && maxIndex > 0">
        <div class="row imagesPagination">
          <div class="col-md-1 col-sm-2 col-xs-2 disabled text-left mb-1" *ngIf="index === 0" disabled>
            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
          </div>
          <div class="col-md-1 col-sm-2 col-xs-2 disabled text-left mb-1" *ngIf="index === 0" disabled>
            <i class="fa fa-angle-left" aria-hidden="true"></i>
          </div>
          <div class="col-md-1 col-sm-2 col-xs-2 text-left mb-1" *ngIf="index > 0">
            <i class="fa fa-angle-double-left" aria-hidden="true" (click)="first()"></i>
          </div>
          <div class="col-md-1 col-sm-2 col-xs-2 text-left mb-1" *ngIf="index > 0">
            <i class="fa fa-angle-left" aria-hidden="true" (click)="previous()"></i>
          </div>
          <div class="col-md-8 col-sm-4 col-xs-4 text-center mb-1 page">
            Page {{index + 1 }}/{{maxIndex + 1}}
          </div>
          <div class="col-md-1 col-sm-2 col-xs-2 text-right mb-1" *ngIf="index < maxIndex">
            <i class="fa fa-angle-right" aria-hidden="true" (click)="next()"></i>
          </div>
          <div class="col-md-1 col-sm-2 col-xs-2 text-right mb-1" *ngIf="index < maxIndex">
            <i class="fa fa-angle-double-right" aria-hidden="true" (click)="last()"></i>
          </div>
          <div class="col-md-1 col-sm-2 col-xs-2 disabled text-right mb-1" *ngIf="index === maxIndex" disabled>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </div>
          <div class="col-md-1 col-sm-2 col-xs-2 disabled text-right mb-1" *ngIf="index === maxIndex" disabled>
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      </div>

      <!--src="http://127.0.0.1:8000/media/{{image.file_name}}">-->
      <!--<img class="img"-->
      <!--src="https://images.pexels.com/photos/754082/pexels-photo-754082.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"-->
      <!--alt="Italian Trulli" (click)="goToImage()">-->

    </div>
    <div class="col-md-4 col-sm-12 col-xs-0">
      <div *ngIf="albums" class="desktopHiddenAlbum">
        <div class="w-100 text-right mb-1">
          <h3 class="mr-1 albums">Albums</h3>
        </div>
        <div class="w-100 text-right albumChoice albumsContainer">
          <label *ngFor="let album of albums">
            <input type="radio" name="foo" value="0" [checked]="albumId !== 0"/>
            {{album.name}}
            <img (click)="albumChoice(album.id)"/>
          </label>
        </div>
        <div class="w-100 text-right">
          <button type="button" mat-raised-button color="primary" class="btn-block clear-filters"
                  (click)="albumChoice(0)">Clear
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="role">
    <div class="w-100 text-right mt-1">
      <button type="button" mat-raised-button color="primary" class="btn-block newImage pl-1 pr-1" (click)="newImage()">
        Add image
      </button>
    </div>
  </div>
</div>
<div class="footer pl-1 pr-1">
  <div class="w-100 text-center">
    <p class="paragraphTag">Designed & developed by me! :)</p>
  </div>
  <div class="w-100 text-center">
    <p class="paragraphTag">Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2020 </p>
  </div>
  <div class="w-100 text-center socialMediaIcons">
    <a href="https://www.instagram.com/yoda.bikarbona/" target="_blank" class="mr-1"><i
      class="fab fa-instagram instagramIcon"></i></a> <a href="https://www.linkedin.com/in/mihael-peri%C4%87-311317140/"
                                                         target="_blank"><i
    class="fab fa-linkedin linkedinIcon"></i></a>
  </div>
</div>
