<div class="first-page w-100">
  <ngx-spinner
    bdColor="#ececec"
    size="medium"
    color="#116466"
    type="ball-scale-multiple"
    [fullScreen]="true"
  >
    <p style="font-size: 20px; color: #116466">Loading...</p>
  </ngx-spinner>
  <div class="row">
    <!--<div class="col-md-4 col-sm-12 postBox remove">-->
    <!--</div>-->
    <div class="col-md-4 col-sm-12 postBox" *ngIf="post">
      <div class="w-100 imageBox" *ngIf="post.image">
        <img class="img"
             src="{{post.image.google_drive_link}}">
        <!--src="http://127.0.0.1:8000/media/{{post.google_drive_link}}">-->

      </div>
      <div class="p-1">
      <div class="post-views mt-1"><i class="far fa-eye"></i>
        <p class="paragraphTag">{{post.views}}
        <p></p></div>
      <div class="post-date mt-1">{{post.created}}</div>
      <div class="post-title mt-1">{{post.title}}</div>
      <div class="post-content mt-1">
        <div class="w-100" *ngFor="let tag of post.content">
          <p class="paragraphTag" *ngIf="tag.tag === 'p'">{{tag.content}}</p>
          <img class="img" *ngIf="tag.tag === 'i'" src="{{tag.content}}">
          <video *ngIf="tag.tag === 'v'">{{tag.content}}</video>
          <iframe *ngIf="tag.tag === 'y'" width="100%" height="300" [src]="tag.content | safe" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
          <a *ngIf="tag.tag === 'l'" href="{{tag.content}}" target="_blank">{{tag.content}}</a>
        </div>
        <!--{{post.content}}-->
      </div>
      <div class="mt-1" *ngIf="!post.comment">
        <p class="paragraphTag">Comments are not allowed!</p>
      </div>
      <div class="mt-1" *ngIf="post.comment">
        <div class="mb-1" *ngFor="let comment of post.comments">
          {{comment.user.user_name}}: {{comment.content}}
        </div>
        <div class="pl-1 pr-1 newComment">
          <!--<p>{{commentLength}}/128</p>-->
          <textarea type="text" [(ngModel)]="comment" maxlength="128" placeholder="Type a comment..."
                    (ngModelChange)="calculateCommentLength()">
          </textarea>
        </div>
        <div class="text-right mt-1">
          <p *ngIf="errorMessage" class="text-center w-100">{{errorMessage}}</p>
          <button type="button" mat-raised-button color="primary" class="btn-block addComment pl-1 pr-1"
                  (click)="addComment()">Add comment
          </button>
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 postBox remove">
    </div>
  </div>
</div>
<div class="footer pl-1 pr-1">
  <div class="w-100 text-center">
    <p class="paragraphTag">Designed & developed by me! :)</p>
  </div>
  <div class="w-100 text-center">
    <p class="paragraphTag">Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2020 </p>
  </div>
  <div class="w-100 text-center socialMediaIcons">
    <a href="https://www.instagram.com/yoda.bikarbona/" target="_blank" class="mr-1"><i
      class="fab fa-instagram instagramIcon"></i></a> <a href="https://www.linkedin.com/in/mihael-peri%C4%87-311317140/"
                                                         target="_blank"><i
    class="fab fa-linkedin linkedinIcon"></i></a>
  </div>
</div>

