<!--<div class="h-100 main">-->
  <!--<div class="row w-100 navigation">-->
    <!--<div class="col-md-4 mobileHidden"></div>-->
    <!--<div [className]="active == 'home' ? 'col-md-1 col-sm-3 home active' : 'col-md-1 col-sm-3 home inactive'">-->
      <!--<button type="button" mat-raised-button color="primary" class="btn-block" (click)="click('home')">Home</button>-->
    <!--</div>-->
    <!--<div [className]="active == 'gallery' ? 'col-md-1 col-sm-3 gallery active' : 'col-md-1 col-sm-3 gallery inactive'">-->
      <!--<button type="button" mat-raised-button color="primary" class="btn-block" (click)="click('gallery')">Gallery-->
      <!--</button>-->
    <!--</div>-->
    <!--<div [className]="active == 'posts' ? 'col-md-1 col-sm-3 posts active' : 'col-md-1 col-sm-3 posts inactive'">-->
      <!--<button type="button" mat-raised-button color="primary" class="btn-block" (click)="click('posts')">Posts</button>-->
    <!--</div>-->
    <!--<div-->
      <!--[className]="active == 'login' ? 'col-md-1 col-sm-3 login active' : 'col-md-1 col-sm-3 login inactive'">-->
      <!--<button type="button" mat-raised-button color="primary" class="btn-block" (click)="click('login')">Login-->
      <!--</button>-->
    <!--</div>-->
    <!--<div class="col-md-4 mobileHidden"></div>-->
  <!--</div>-->
  <div class="first-page w-100">
    <p class="quote p-1">More complicated a person is, the more interesting he is. But at the same time, the more dangerous he is.</p>
    <!--<h1 class="quote p-1">More complicated a person is, the more interested he is. But at the same time, the more dangerous he is.</h1>-->
  </div>
  <div class="content w-100">
    <div class="row w-100">
      <div class="col-md-4 col-sm-12 text-center welcome">
        Posts
      </div>
      <div class="col-md-8 col-sm-12 text-center what-is-about pr-5">
        <div class="row">
          <div class="col-md-12 col-sm-12 post mb-5" *ngFor="let post of posts">
            <div class="post-date mb-1 w-100">{{post.created}}</div>
            <div class="post-title mb-1 w-100">{{post.title}}</div>
            <div class="post-content mb-1 w-100">
              <div class="w-100" *ngFor="let tag of post.content">
                <p class="paragraphTag" *ngIf="tag.tag === 'p'">{{tag.content}}</p>
              </div>
            </div>
            <div class="post-read text-right">
              <button type="button" mat-raised-button color="primary" class="btn-block read" (click)="readPost(post)">Read</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
    </div>
  </div>
  <div class="footer pl-1 pr-1">
    <div class="w-100 text-center">
      <p class="paragraphTag">Designed & developed by me! :)</p>
    </div>
    <div class="w-100 text-center">
      <p class="paragraphTag">Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2020 </p>
    </div>
    <div class="w-100 text-center socialMediaIcons">
      <a href="https://www.instagram.com/yoda.bikarbona/" target="_blank" class="mr-1"><i class="fab fa-instagram instagramIcon"></i></a> <a href="https://www.linkedin.com/in/mihael-peri%C4%87-311317140/" target="_blank"><i class="fab fa-linkedin linkedinIcon"></i></a>
    </div>
  </div>
  <!--<button *ngIf="isShow" type="button" mat-raised-button color="primary" class="btn-block gotoTop" (click)="gotoTop()"><i class="fa fa-arrow-up"></i></button>-->
<!--</div>-->


