.navigation {
  background-color: #116466;
  position: fixed;
  top: 10px;
  overflow: hidden;
  height: 7%;
  z-index: 4;
}

.home, .gallery, .posts, .login {
  z-index: 1;
  button {
    &:hover {
      background-color: #2C3531;
      color: white;
    }
  }
}

//.login {
//  button {
//    background-color: #116466;
//    color: white;
//    border-radius: unset;
//    height: 100%;
//    &:hover {
//      background-color: #2C3531;
//      color: white;
//      @media (max-width: 899px) {
//        background-color: #116466 !important;
//        color: white !important;
//      }
//    }
//  }
//}

.mobileHidden {
  @media (max-width: 767px) {
    display: none;
  }
}

.active {
  button {
    border-radius: unset;
    height: 100%;
    background-color: #2C3531;
    color: white;

  }
}

.inactive {
  button {
    background-color: #116466;
    color: white;
    border-radius: unset;
    height: 100%;
    &:hover {
      background-color: #2C3531;
      color: white;
    }
  }
}

.content {
  background-color: #ececec;
}

.main {
  max-height: 100%;
  overflow-y: scroll;
}

.welcome {
  margin-top: 25px;
  font-size: 0.875rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.14em;
}

.what-is-about {
  margin-top: 25px;
  text-align: justify;
  font-size: 18px;
  //@media (max-width: 767px) {
  //  padding-right: 20px;
  //  padding-left: 20px;
  //}
}

.first-page {
  z-index: -1;
  height: 100%;
  position: relative;
  @media (min-width: 900px) {
    height: 100%;
  }
  &:before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 75%, rgba(0, 0, 0, 0.3) 100%);
    //background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0.3) 55%);
    bottom: 0;
    content: "";
    display: block;
    height: 33%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 2;
  }
}

.post-date {
  color: #767676;
  font-size: 0.6875rem;
  font-weight: 800;
  letter-spacing: 0.1818em;
  text-transform: uppercase;
}

.post-title {
  font-size: 1.625rem;
  font-weight: 300;
  color: #333;
  text-align: left;
  @media (max-width: 767px) {
    font-size: 20px;
  }
}

.post-content {
  font-size: 1rem;
  line-height: 1.5;
  height: 215px;
  overflow-y: hidden;
  position: relative;
  white-space: pre-wrap;
  &:after {
    content: '';
            position: absolute;
            bottom: 0em;
            width:100%;
            height: 4em;
            left: 0;
            background: -webkit-linear-gradient(
                    rgba(236,	236, 236, 0) 0%,
                    rgba(236,	236, 236, 1) 100%
            );
            background-image: -moz-linear-gradient(
                    rgba(236,	236, 236, 0) 0%,
                    rgba(236,	236, 236, 1) 100%
            );
            background-image: -o-linear-gradient(
                    rgba(236,	236, 236, 0) 0%,
                    rgba(236,	236, 236, 1) 100%
            );
            background-image: linear-gradient(
                    rgba(236,	236, 236, 0) 0%,
                    rgba(236,	236, 236, 1) 100%
            );
            background-image: -ms-linear-gradient(
                    rgba(236,	236, 236, 0) 0%,
                    rgba(236,	236, 236, 1) 100%
            );
  }
}

.footer {
  background-color: #ececec;
  height: 125px;
  &:before {
    content: "";
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 1px;
    background-color: #116466;
  }
}

.gotoTop {
  width: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  text-align: center;
  outline: none;
  background-color: #116466;
  color: white;
  &:hover {
    background-color: #2C3531;
  }
}

.post {
  //border-bottom: 1px solid #116466;
  //box-shadow: 0px 10px 20px rgba(128,128,128,0.5);
  padding: 10px;
}

.read {
  width: 50px;
  right: 0px;
  bottom: 5px;
  font-size: 10px;
  text-align: center;
  outline: none;
  background-color: #ececec;
  border: 1px solid #116466;
  color: #2C3531;
  border-radius: 50px;
  box-shadow: 0px 10px 20px rgba(128,128,128,0.5);
  letter-spacing: 1px;
	text-transform: uppercase;
  &:hover {
    @media (min-width: 900px) {
      background-color: #116466;
      color: white;
      transition: background-color 500ms ease, color 500ms ease;
    }

  }
  @media (max-width: 767px) {
    width: 100%;
  }
}

.quote {
  position: absolute;
  bottom: 30px;
  color: initial;
  font-size: 2.5rem;
  font-weight: 300;
  width: 75%;
  @media (max-width: 899px) {
    font-size: 1rem;
    font-weight: 300;
    color: white;
  }
}

.paragraphTag {
  font-weight: 100;
  @media (max-width: 767px) {
    font-size: 12px;
  }
}

a {
  text-decoration: none;
}

.instagramIcon, .linkedinIcon {
  font-size: 50px;
}

.socialMediaIcons {
  a {
    color: #116466;
    @media (min-width: 900px) {
      color: #2C3531;
      &:hover {
        color: #116466;
      }
    }
  }
}

.display-none {
  display: none;
}
